{{> header}}
<div class="container py-5">
    <div class="row">
        <h1>Nodemailer Demo</h1>
    </div>
    <form action="/" method="POST">
        <div class="row">
            <div class="form-group w-50">
                <label for="email">
                    Email
                </label>
                <input type="email" name="email" id="email" placeholder="xyz@exmaple.com" class="form-control">
            </div>
        </div>
        <div class="row">
            <input type="submit" value="Submit" class="btn btn-outline-dark">
        </div>
    </form>
    {{#if link}}
        <div class="row my-3">
            <a href="{{link}}" target="_blank">Click here to view email</a>
        </div>
    {{/if}}
</div>
